body {
  margin: 0;
  padding: 0;
  background-color: #6e0cc9;
}

.clock {
  width: 350px;
  height: 350px;
  transform: translateY(45%);
  border: 10px solid #e8e5ef;
  margin: auto;
  border-radius: 50%;
  position: relative;
}
.clock::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px #a3a1a1, 0px 0px 0px 5px #9d9d9d;
}
.hour-hand {
  width: 10px;
  height: 110px;
  background: #e8e5ef;
  position: absolute;
  left: 50%;
  top: 20%;
  border-radius: 55px 55px 0 0px;
  transform-origin: bottom;
  transform: rotate(0deg);
}
.minute-hand {
  width: 5px;
  height: 134px;
  background: #ffffff;
  position: absolute;
  left: 51%;
  top: 46px;
  border-radius: 55px 55px 0px 0px;
  transform-origin: bottom;
  /* transform: rotate(0deg); */
  box-shadow: 0px 5px 2px #727272;
}
.second-hand {
  width: 2px;
  height: 155px;
  background: yellow;
  position: absolute;
  left: 51.5%;
  top: 28px;
  border-radius: 55px 55px 0px 0px;
  transform-origin: bottom;
  /* transform: rotate(0deg); */
}
.brand {
  position: absolute;
  top: 48%;
  left: 43%;
  background-color: #fff;
  font-size: 21px;
  z-index: -1;
  padding: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 7px;
  font-style: italic;
}
